<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwiftLine: Register</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/favicon.ico" sizes="any" type="image/x-icon">
</head>
<body>
    <div class="body">
        <div><div class="left-side">
        </div></div>
        <div class="center">
             <div class="top-banner"><h1>Register</h1></div>
             <div class="feed">
                 <div class="login">
                    <form action="/register" method="post" class="login-form">
                        <input type="text" name="name1" id="username1" placeholder="Name" minlength="2" maxlength="45" required>
                        <input type="text" name="username1" id="username1" placeholder="Username" minlength="3" maxlength="15" required>
                        <input type="password" name="password1" id="password1" placeholder="Password" minlength="3" required>
                        <% if (messages.error) {%>
                            <p class="logEr"><%= messages.error %></p>
                        <% } %> 
                        <input type="submit" value="Register" id="login-btn">
                    </form>
                 </div>
                 <div class="login">
                     <a class="to-register-btn" href="./login">Login</a>
                 </div>
             </div>
        </div>
        <div class="right-side">
        </div>
    </div>
</body>
</html>